* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.banner .box {
    position: relative;
    height: 100vh;
}

.banner .box:last-child {
    background-color: #ff0;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    font-size: 1.4em;
    color: #111;
    font-weight: 500;
    text-decoration: none;
}

header ul {
    display: flex;
}

header ul li {
    list-style: none;
    margin-left: 30px;
}

header ul li a {
    text-decoration: none;
    font-weight: 500;
    color: #bdbdbd;
    letter-spacing: 1px;
}

header ul li a:hover {
    color: #333;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.content h2 {
    font-size: 4em;
    color: #333;
}

.content p {
    font-size: 1.1em;
    color: #777;
    line-height: 1.8em;
}

.btn {
    display: inline-block;
    font-size: 1.1em;
    font-weight: 500;
    margin-top: 20px;
    padding: 10px 30px;
    color: #333;
    text-decoration: none;
    border: 2px solid #333;
    transition: .5s;
}

.btn:hover {
    background: #333;
    color: #fff;
    letter-spacing: 2px;
}

.sci {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 30px;
    right: 60px;
}

.sci h3 {
    font-weight: 500;
    color: #bdbdbd;
    letter-spacing: 1px;
}

.sci li {
    list-style: none;
    margin-left: 20px;
}

.sci li img {
    max-width: 30px;
    cursor: pointer;
}

.images {
    display: flex;
    flex-wrap: wrap;
}

.images .imgBox {
    position: relative;
    width: 50%;
    height: 50vh;
    background: #0f0;
}

.images .imgBox:nth-child(2) {
    background: #00f;
}

.images .imgBox:nth-child(3) {
    width: 100%;
    background: #ff0;
}

.images .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}